.PageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh;

  .CenterContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 0px 6px 0px #bfbfbf;

    .AppLogo {
      height: 2rem;
    }

    h1 {
      font-weight: 500;
      color: #353535;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 5px;
      font-weight: normal;
      color: #adadad;
    }

    .LoginForm {
      width: 100%;
      margin-top: 20px;

      .InputContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        
        label {
          color: #929292;
          margin-bottom: 5px;
        }
      
        input {
            border-radius: 4px;
            border: 1px solid #d9d9d9;
            padding: 5px;
            height: 25px;
        }
      }

      .CheckBoxContainer {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        label {
          font-size: 12px;
        }

        .Checkbox {
          color: #67b9e9;
          border-radius: 10px;
          margin-left: -9px;
        }
      }
      
      .LoginButton {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 10px;
        min-width: 100px;        
      }
    }
  }
}